<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
<h:head>
    <title>
        <ui:insert name="title">Default Title</ui:insert>
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link href="#{request.contextPath}/css/styles.css" rel="stylesheet" type="text/css"/>
    <link href="#{request.contextPath}/Bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="#{request.contextPath}/gallery/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
    <link rel="icon" type="image/gif" href="#{request.contextPath}/images/favicon.ico"/>

    <link rel="stylesheet" href="#{request.contextPath}/gallery/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
    <link rel="stylesheet" href="#{request.contextPath}/gallery/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <!--<script type="text/javascript" src="../gallery/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>-->
</h:head>

<body class="main_bg" onload="myFunction()" style="margin:0;">
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#{request.contextPath}/you">Private Network</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <ui:insert name="home">
                    <li class="active">
                        <a href="#{request.contextPath}/you">Home</a>
                    </li>
                    <li>
                        <a href= "#{request.contextPath}/pictures">Pictures</a>
                    </li>
                </ui:insert>
            </ul>
                <ul class="nav navbar-nav navbar-right">

                    <li class="">
                        <span class="header-username"> #{home.firstNameOrUsername} </span>
                        <img src="#{settingEditor.profilePictureUrl}" class="profile-image" alt="profile picture"/>

                    </li>

                    <li class="top_right_list">
                        <a class="" href="#{request.contextPath}/you/settings" name="settings">
                        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                        </a>
                    </li>
                           <!-- <span class="glyphicon glyphicon-log-out"></span>-->
                    <li>
                        <h:form id="logout_form">
                        <a class="form_icon_hover">
                            <h:commandLink action="#{login.logout}" styleClass="form_icon_hover">
                                 <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                            </h:commandLink>
                        </a>
                        </h:form>

                    </li>
                </ul>
        </div>
    </div>
</div>
<div class="spinner" id="loader">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
</div>
<div class="container" style="padding-bottom: 30px; display:none;" id="myDiv">
    <ui:insert name="content">Default Content</ui:insert>
</div>


<footer class="footer">
    <div class="container">
        <p class="text-muted">&copy; 2017 JEE Application</p>
    </div>
</footer>

<script type="text/javascript" src="/network/gallery/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
<script type="text/javascript" src="/network//gallery/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>
<script type="text/javascript" src="/network/gallery/lib/jquery.mousewheel-3.0.6.pack.js"></script>
<script type="text/javascript" src="/network/gallery/source/jquery.fancybox.pack.js?v=2.1.5"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"></script>
<script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
<script type="text/javascript" src="/network/js/main.js"></script>
<script type="text/javascript" src="/network/js/loader.js"></script>
</body>
</html>