<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="../../WEB-INF/templates/template.xhtml" >

    <ui:define name="title">Private Network</ui:define>

    <ui:define name="content">

        <div class="container">
            <div class="row">
                <div class="grid">
                   <h3>An error has occurred - Session expired.</h3>
                </div>
            </div>
        </div>
    </ui:define>


</ui:composition>
</html>