#myCanvas {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
}
.form-signin
{
    max-width: 280px;
    margin: 0 auto;
    margin-top: 80px !important;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}

.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}

#showAllUserPictures a{
    text-decoration: none !important;
    padding-bottom: 40px;
    margin-bottom: 20px !important;
}
#showAllUserPictures a:hover{
    text-decoration: none !important;
}
.breadcrumb {
    padding: 10px 0 !important;
}
#all-pics{
    position: absolute;
    width:inherit;
    height: 70%;
    overflow-y: scroll;
}
.modal{
    margin-top: 100px !important;
}
.picDescription{
    max-width: 468px !important;
    max-height: 80px !important;
}
.thumbnail-pic{
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
}


.profile-image{
    width:24px !important;
    height:24px !important;
    overflow: hidden;
    border-radius: 4px;
    margin: 12px;
    margin-left: 2px !important;
}

.thumbnail-pic img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    padding: 5px;
    border: solid 1px #EFEFEF;
}
div .profile-img{
    width: 200px !important;
    height: 200px !important;
    background-size:cover;
    overflow: hidden;
    border-radius: 2px;
    /*
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    */
}
.action-links{
    cursor:pointer !important;
    margin-bottom: 20px !important;
}
.action-links:hover{
    text-decoration: none !important;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}

.inputEmail{
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    margin-bottom: -1px;
    opacity: .8;
}

.inputPassword{
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    margin-bottom: 10px;
    opacity: .8;
}

.glyphicon-log-out:before{
    color:#9d9d9d !important;
}
.glyphicon-log-out:after{
    color:#f5f5f5 !important;
}
.header-username{
    margin-right: 5px;
    color:#9d9d9d !important;
}
li #logout_form a:hover{
    color:whitesmoke;
}
#logout_form{
    margin-top: 15px;
    margin-bottom: 15px;
}
.top_right_list{
    margin-left: -15px !important;
}
.logout{
    background: transparent !important;
    color:#E8E8E8 !important;
    margin-top: 9px !important;
}
.center-block{
    text-align: center !important;
}

html{
    height:100%;
}
.footer{
    background-color: #E3E3E3;
    bottom: 0;
    height: 40px;
    position: fixed;
    border-top: 1px solid #d4d4d4;
    width: 100%;
}


.container .text-muted {
    margin: 10px 0 !important;
    font-size: 10px;
}
.text-muted {
    color: #777 !important;
}

body{
    background: url("../images/bg.jpg") no-repeat center center fixed !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    height: 100% !important;
    padding-bottom: 70px !important;
    padding-top:70px;
    color: #555;
}

.main_bg{
    background: url("../images/main_bg.png") center center !important;
}

.navbar-inverse{
    background:#333 none repeat scroll 0 0 !important;
    opacity:.95;
}

.form-control{
    line-height: 1.2 !important;
}
.btn-group-lg > .btn, .btn-lg {
    line-height:1.2 !important;
    border-radius: 4px !important;
    font-size: 14px !important;
}

.form-control::-moz-placeholder {
    font-size: 14px !important;
    font-weight: 300;
}

.center-block{
    text-align: center !important;
}

#bottomList{
    font-weight: 300;
    color:whitesmoke;
}
.list-inline > li {
    margin: 0 0 0 20px !important;
}
li:first-child {
    margin: 0 0 0 0 !important;
}
label{
    font-weight:400 !important;
    text-align: left !important;
}

.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
    text-align:center;
    padding-bottom:10px;
}

.form-signup{
    max-width: 380px;
    margin: 0 auto;
    margin-top: 40px !important;

    padding:20px;
    border-radius:4px;
    background:rgba(1,1,1,.05);
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.6);
}

.back_link{
    margin-top:-50px;
    padding-left:20px
}

.register{
    float:right;
}

.register a:hover{
    text-decoration: none !important;
}

.checkbox{
    margin-top: 0px !important;
    float:left;
}

.error-message{
    border-color: #ebccd1;
    color: #a94442;
}

.breadcrumb li > .active {
    color: #777 !important;

}

.pic_upload{
    float:right !important;
}

.pic_upload::before{
    content:" " !important;
}

.addContact{
    float:right !important;
}

.addContact::before{
    content:" " !important;
}

.fancybox-custom .fancybox-skin {
    box-shadow: 0 0 50px #222;
}

.form-area{
    resize: none;
}
.help-block{
    font-size:12px !important;
    margin-bottom: -10px !important;
}


/* ---- particles.js container ---- */

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background:transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

/* ---- stats.js ---- */

.count-particles{
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.js-count-particles{
    font-size: 1.1em;
}

#stats,
.count-particles{
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
}

#stats{
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.count-particles{
    border-radius: 0 0 3px 3px;
}


.top-block-margin{
    margin-top:100px;
}


/* LOADER*/
.spinner {
    margin: 100px auto 0;
    width: 70px;
    text-align: center;
}
.form_icon_hover:hover{
    color: whitesmoke !important;
}
.spinner > div {
    width: 14px;
    height: 14px;
    background-color: #999999;
    margin-top: 150px;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% {
          -webkit-transform: scale(1.0);
          transform: scale(1.0);
      }
}

#myDiv {
    display: none;
}
.box_title{
    margin:0px 0px 0px 2px;
}
