<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
<h:head>
    <title>Private Network</title>
    <link rel="icon" type="image/gif" href="images/favicon.ico"/>
    <link href="#{request.contextPath}/css/styles.css" rel="stylesheet" type="text/css"/>
    <link href="#{request.contextPath}/Bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <!--<script type="text/javascript" src="https://unpkg.com/particlesjs@1.0.1/dist/particles.min.js" ></script>-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

</h:head>

<h:body>
    <canvas id="myCanvas"></canvas>
    <!-- Animated background. Uncomment in order to turn it in <div id="particles-js"></div>-->
    <div id="particles-js"></div>
    <div class="container">
        <div class="col-md-4 col-xs-12 col-md-offset-4">
            <h:form styleClass="form-signin" id="loginForm">
                <h5 class="form-signin-heading">Please sign in</h5>
                <h:outputText id="invalidLogin" styleClass="error-message" value="#{login.errorMessage}" rendered="#{not empty login.errorMessage}"/>
                <h:inputText id="username" styleClass="form-control inputEmail" a:placeholder="username" validatorMessage="#{login.invalidUsernameErrorMessage}"
                             required="true" value="#{login.username}" requiredMessage="Username must be not empty"/>
                <h:message for="username" styleClass="error-message" id="username-error" />
                <h:inputSecret id="inputPassword" styleClass="form-control inputPassword" a:placeholder="password"
                               required="true" value="#{login.password}" requiredMessage="Password must be not empty" />
                <h:message for="inputPassword" styleClass="error-message" id="inputPassword-error" />
                <div class="btn-toolbar">
                    <h:commandButton id="submitButton" value="Submit" styleClass="btn btn-primary col-lg-7 col-md-7" action="#{login.processRequst}">
                        <f:ajax execute="@form" render="username-error inputPassword-error loginForm" resetValues="true"></f:ajax>
                    </h:commandButton>
                    <a href="#{request.contextPath}/registration" id="signupButton" class="btn btn-success col-lg-4 col-md-4 pull-right">Sign Up</a>
                </div>
            </h:form>

        </div>
    </div> <!-- /container -->

    <div class="navbar navbar-fixed-bottom">
        <div class="center-block col-md-12">
            <ul class="list-inline" id="bottomList">
                <li class="divider-vertical">About</li>
                <li class="divider-vertical">Team</li>
                <li class="divider-vertical">Feedback</li>
                <li class="divider-vertical">Contacts</li>
            </ul>
        </div>
    </div>
</h:body>

<!-- Uncommend this in order to activate animating bacground
<script src='http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js'></script>
<script src='http://threejs.org/examples/js/libs/stats.min.js'></script>

<script src="js/background.js"></script>
-->

</html>
