<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
<h:head>
    <title>Private Network</title>
    <link rel="icon" type="image/gif" href="images/favicon.ico"/>
    <link href="#{request.contextPath}/css/styles.css" rel="stylesheet" type="text/css"/>
    <link href="#{request.contextPath}/Bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</h:head>

<h:body>

    <div class="back_link">
        <a href="#{request.contextPath}/login"><span class="glyphicon glyphicon-menu-left"></span>Back</a>
    </div>

    <div class="panel-body col-lg-4 col-lg-offset-4 top-block-margin">

        <h:form id="signupform" class="form-horizontal" role="form">

            <div id="signupalert" style="display:none" class="alert alert-danger">
                <p>Error:</p>
                <span></span>
            </div>

            <div class="form-group">
                <label for="email" class="col-md-3 control-label">Email*</label>
                <div class="col-md-9">
                    <h:inputText type="email" value="#{register.email}"
                                 class="form-control"
                                 id="email"
                                 name="email"
                                 a:placeholder="Email Address"
                                 required="true"
                                 requiredMessage="E-Mail must be not empty"
                    />
                    <h:message for="email" styleClass="error-message" />
                </div>
            </div>

            <div class="form-group">
                <label for="firstname" class="col-md-3 control-label">First Name</label>
                <div class="col-md-9">
                    <h:inputText type="text"
                                 value="#{register.firstName}"
                                 class="form-control"
                                 id="firstname"
                                 name="firstname"
                                 a:placeholder="First Name"/>
                    <h:message for="firstname" styleClass="error-message" />
                </div>
            </div>
            <div class="form-group">
                <label for="lastname" class="col-md-3 control-label">Last Name</label>
                <div class="col-md-9">
                    <h:inputText type="text"
                                 value="#{register.lastName}"
                                 class="form-control"
                                 id="lastname"
                                 name="lastname"
                                 a:placeholder="Last Name"/>
                    <h:message for="lastname" styleClass="error-message" />
                </div>
            </div>
            <div class="form-group">
                <label for="username" class="col-md-3 control-label">Username*</label>
                <div class="col-md-9">
                    <h:inputText type="text"
                                 value="#{register.username}"
                                 class="form-control"
                                 id="username"
                                 name="lastname"
                                 required="true"
                                 requiredMessage="Username must be not empty"
                                 a:placeholder="must be unique"/>
                    <h:message for="username" styleClass="error-message" />
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-md-3 control-label">Password*</label>
                <div class="col-md-9">
                    <h:inputSecret type="password"
                                 value="#{register.password}"
                                 class="form-control"
                                 id="password"
                                 required="true"
                                 requiredMessage="Password must be not empty"
                                 name="passwd"
                                 a:placeholder="***************"/>
                    <h:message for="password" styleClass="error-message" />
                </div>
            </div>

            <div class="form-group">
                <label for="retypePassword" class="col-md-3 control-label">Re-password*</label>
                <div class="col-md-9">
                    <h:inputSecret type="password"
                                 value="#{register.retypedPassword}"
                                 class="form-control"
                                 id="retypePassword"
                                 required="true"
                                 requiredMessage="Re-password must be not empty"
                                 name="passwd"
                                 a:placeholder="***************"/>
                    <h:message for="retypePassword" styleClass="error-message" />
                    <h:outputText for="retypePassword" styleClass="error-message" value="#{register.retypedPasswordErrorMessage}" rendered="#{not empty register.retypedPasswordErrorMessage}"/>
                </div>
            </div>

            <div class="form-group">
                <!-- Button -->
                <div class="col-md-offset-3 col-md-9">
                    <h:commandLink action="#{register.registerUser}" id="btn-signup"  type="button" class="btn btn-info col-lg-5"><i class="icon-hand-right"></i> &nbsp;Sign Up
                    <f:ajax execute="@form" render="signupform"/></h:commandLink>
                    <button id="btn-fbsignup" type="button" class="btn btn-primary pull-right"><i class="icon-facebook"></i>   Sign Up with Facebook</button>
                </div>
            </div>

            <div style="border-top: 1px solid #999; padding-top:20px"  class="form-group">

            </div>



        </h:form>
    </div>

    <div class="navbar navbar-fixed-bottom">
        <div class="center-block col-md-12">
            <ul class="list-inline" id="bottomList">
                <li class="divider-vertical">About</li>
                <li class="divider-vertical">Team</li>
                <li class="divider-vertical">Feedback</li>
                <li class="divider-vertical">Contacts</li>
            </ul>
        </div>
    </div>
</h:body>

</html>
