<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="../WEB-INF/templates/template.xhtml" >

    <ui:define name="title">Private Network</ui:define>

    <ui:define name="content">
        <ol class="breadcrumb">
            <li><a class="active">Home</a></li>
        </ol>


        <ui:repeat var="picture" value="#{home.allUserPictures.subList(0, (home.allUserPictures.size() gt 8) ? 8 : home.allUserPictures.size())}">
            <div class="col-xs-12 col-md-3 grid-item">

                <h:form id="deletePicForm" class="form-horizontal" role="form" style="text-align: right;">
                    <h:inputHidden value="#{picture.resourceName}" name="hidden" id="hidden" />
                    <h:commandLink action="#{pictureManagement.deletePicture}">
                        <span class="glyphicon glyphicon-remove-circle" aria-hidden="true" id="${loop.index+1}_delete_picture"/>
                    </h:commandLink>
                </h:form>
                <a href="#{picture.resourceName}" class="fancybox-thumb thumbnail box_title" rel="fancybox-thumb">
                    <img src="#{picture.resourceName}" alt="#{picture.title}"/>
                </a>
            </div>
        </ui:repeat>



    </ui:define>


</ui:composition>
</html>