<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="../WEB-INF/templates/template.xhtml">

    <ui:define name="title">Private Network</ui:define>

    <ui:define name="home">
        <li><a href="#{request.contextPath}/you">Home</a>
        </li>
        <li class="active">
            <a href="#{request.contextPath}/you/pictures">Pictures</a>
        </li>
    </ui:define>

    <ui:define name="content">
        <ol class="breadcrumb">
            <li><a>Home</a></li>
            <li><a class="active">Pictures</a></li>
        </ol>
        <div class="container">
            <p>Upload a new photo</p>
            <div class="row">
                <div class="grid">
                    <h:form styleClass="form-horizontal col-md-6" enctype="multipart/form-data" id="uploadForm">
                        <h:panelGroup layout="block" rendered="#{pictureUploader.uploadStatusMessage != null}">

                            <div class="alert alert-success alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                ${pictureUploader.uploadStatusMessage}
                            </div>
                        </h:panelGroup>
                        <div class="form-group">
                            <label for="title" class="col-md-3 control-label">Title</label>
                            <div class="col-md-9">
                                <h:inputText type="text"
                                             value="#{pictureUploader.title}"
                                             class="form-control"
                                             id="title"
                                             name="title"
                                             a:placeholder="Picture title"/>
                                <h:message for="title" styleClass="error-message"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="description" class="col-md-3 control-label">Description</label>
                            <div class="col-md-9">
                                <h:inputText type="text"
                                             value="#{pictureUploader.description}"
                                             class="form-control"
                                             id="description"
                                             name="description"
                                             a:placeholder="Picture description"/>
                                <h:message for="description" styleClass="error-message"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="file" class="col-md-3 control-label">Select a file</label>
                            <div class="col-md-9">
                                <h:inputFile id="file" value="#{pictureUploader.filePart}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <h:commandButton value="Submit" action="#{pictureUploader.upload}"
                                                 styleClass="btn btn-primary">
                                    <f:ajax render="uploadForm" execute="@all" resetValues="true"/>
                                </h:commandButton>
                            </div>
                        </div>

                    </h:form>
                </div>
            </div>
        </div>
    </ui:define>


</ui:composition>
</html>