<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="../WEB-INF/templates/template.xhtml" >

    <ui:define name="title">Private Network</ui:define>

    <ui:define name="home">
        <li><a href="#{request.contextPath}/you">Home</a>
        </li>
        <li>
            <a href= "#{request.contextPath}/pictures">Pictures</a>
        </li>
    </ui:define>
    <ui:define name="content">
        <ol class="breadcrumb">
            <li><a>Home</a></li>
            <li class="active"><a href="#">Settings</a></li>
        </ol>

        <div class="panel-body col-lg-6 col-lg-offset-3">

            <h:form id="settingForm" class="form-horizontal" role="form" enctype="multipart/form-data">

                <div class="form-group">
                <h:outputText styleClass="alert alert-danger col-xs-12 col-md-12 col-lg-12" rendered="#{not empty settingEditor.changeStatus}" value="#{settingEditor.changeStatus}"/>
                </div>


                <div class="form-group">
                    <label class="col-md-4 control-label">Change profile picture:</label>
                    <div class="col-md-8">
                        <div class="thumbnail-pic">
                        <img src="#{settingEditor.profilePictureUrl}" alt="profile picture" />
                        </div>
                        <h:inputFile style="float:left;" id="file" value="#{settingEditor.profilePicture}"></h:inputFile>
                        <h:commandButton class="btn btn-default pull-right" action="#{settingEditor.deleteProfilePicture}" value="Delete"></h:commandButton>
                    </div>
                </div>


                <div class="form-group">
                    <label for="username" class="col-md-4 control-label">Change username:</label>
                    <div class="col-md-8">
                        <h:inputText type="text"
                                     value="#{settingEditor.username}"
                                     class="form-control"
                                     id="username"
                                     name="username"
                                     a:placeholder="current: #{settingEditor.usernamePlaceHolder}"/>
                        <p class="help-block">Password is required</p>
                        <h:message for="username" styleClass="error-message" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="password" class="col-md-4 control-label">Your password:</label>
                    <div class="col-md-8">
                        <h:inputSecret type="password"
                                     value="#{settingEditor.password}"
                                     class="form-control"
                                     id="password"
                                     name="password"
                                     a:placeholder="********************"/>
                        <h:outputText for="password" styleClass="error-message" value="#{settingEditor.errorMessageForPassword}"
                                      rendered="#{not empty settingEditor.errorMessageForPassword}"/>

                        <h:message for="password" styleClass="error-message" value="#{settingEditor.errorMessageForPassword}"
                                   rendered="#{not empty settingEditor.errorMessageForPassword}"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="firstname" class="col-md-4 control-label">Set first name:</label>
                    <div class="col-md-8">
                        <h:inputText type="text"
                                     value="#{settingEditor.firstName}"
                                     class="form-control"
                                     id="firstname"
                                     name="firstname"
                                     a:placeholder="current: #{settingEditor.firstNamePlaceHolder}"/>
                        <h:message for="firstname" styleClass="error-message" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastname" class="col-md-4 control-label">Set last name:</label>
                    <div class="col-md-8">
                        <h:inputText type="text"
                                     value="#{settingEditor.lastName}"
                                     class="form-control"
                                     id="lastname"
                                     name="lastname"
                                     a:placeholder="current: #{settingEditor.lastNamePlaceHolder}"/>
                        <h:message for="lastname" styleClass="error-message" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="aboutMe" class="col-md-4 control-label">About me:</label>
                    <div class="col-md-8">
                        <h:inputTextarea type="text"
                                         rows="3"
                                     value="#{settingEditor.aboutMe}"
                                     class="form-control form-area"
                                     id="aboutMe"
                                     name="aboutMe"
                                     a:placeholder="current: #{settingEditor.aboutmePlaceHolder}"/>
                        <h:message for="aboutMe" styleClass="error-message" />
                    </div>
                </div>

                <div class="form-group">
                    <!-- Button -->
                    <div class="col-md-offset-4 col-md-8">
                        <h:commandLink action="#{settingEditor.processRequest}" id="btn-submit"  type="button" class="btn btn-info col-lg-5"><i class="icon-hand-right"></i> &nbsp;Save
                            <f:ajax execute="@form" render="settingForm changeStatus" resetValues="true"/>
                        </h:commandLink>

                        <h:commandLink action="#{settingEditor.processRequest}" id="btn-pdf"  type="button" class="btn btn-danger col-lg-5 pull-right"><i class="icon-hand-right"></i> &nbsp;Extract PDF
                            <!--<f:ajax execute="@form" render="settingForm changeStatus" resetValues="true"/>-->
                        </h:commandLink>
                    </div>
                </div>

                <div style="border-top: 1px solid #999; padding-top:20px"  class="form-group">

                </div>



            </h:form>
        </div>
    </ui:define>


</ui:composition>
</html>